
@model IEnumerable<Inventory_App.Models.Model>

@{
    ViewBag.Title = "Restore Ink Model";
}

<style>
    .action_button {
        margin: 0 5px;
    }

        .action_button a {
            text-decoration: none;
        }

            .action_button:hover, .action_button a:hover {
                color: #8e44ad;
            }

        .action_button:nth-child(2):hover, .action_button:nth-child(2) a:hover {
            color: #c0392b;
        }

        .panel {
        margin-top: 50px;
    }

        .panel .panel-body {
            margin: 3% 0;
        }
</style>

<div id="page-wrapper">
    @{
        if (ViewBag.alertexistInkModel != null)
        {
            <div class="alert alert-warning alert-dismissible animated slideInDown" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.alertexistInkModel
            </div>
        }
    }
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6"><h1>Restore Ink Model</h1></div>
                <div class="col-lg-6"><a href="@Url.Action("addInkModel")"><h2 class="text-right">Back to List</h2></a></div>
            </div>


        </div>
        <div class="panel-body">

            <table class="table table-hover">
                <tr>
                    <th class="info">Brand Name</th>
                    <th class="info">Color</th>
                    <th class="info">Ink Model</th>
                    <th class="info">Action</th>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand.Brand_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Color.Color_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model_Name)
                            </td>
                            <td>
                                <span class="action_button"><i class="fa fa-repeat" aria-hidden="true"></i> @Html.ActionLink("Restore", "restoreDeletedInkModel", new { id = item.Model_Id })</span>
                                |
                                <span class="action_button"><i class="fa fa-eraser" aria-hidden="true"></i> @Html.ActionLink("Wipe Out", "wipeOutInkModel", new { id = item.Model_Id })</span>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
